<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uso dinámico</title>
  </head>
  <body>
    <h3>Aqui vienen datos dinamicos desde la vista</h3>
    <ul>
      <h4>Datos de usuario</h4>
      <li><strong>ID: </strong>{{id}}</li>
      <li><strong>Nombre: </strong>{{nombre}}</li>
      <li><strong>Apellido: </strong>{{apellido}}</li>
      <li><strong>Edad: </strong>{{edad}}</li>
    </ul>
  </body>
</html>
